$color-palette-chocolate: #6b3e26;
$color-palette-strawberry: #ffc5d9;
$color-palette-mint: #c2f2d0;
$color-palette-vanilla: #fdf5c9;
$color-palette-sherbet: #ffcb85;
$color-palette-sherbert: $color-palette-sherbet; //for typos

